{% extends 'base.html' %}

{% block body %}

<style>
    .form-control:focus {
        border-color: #d8dee9 !important;
        box-shadow: 0 0 0 0.2rem rgb(226, 242, 242);
    }
</style>

<!-- Main Section Start -->
<div class="d-flex justify-content-center align-items-center vh-90" style="padding-top: 250px">
    <div class="w-100" style="max-width: 450px;">
        <div class="border rounded p-4 shadow-sm">
            <h4 class="text-center mb-3">¿Olvidaste tu contraseña?</h4>
            <p class="text-center mb-4">
                Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.
            </p>
            <hr>
            <form id="forgotPasswordForm" action="{% url 'forgot_password' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Ingrese su email" required>
                </div>
                <div class="d-grid">
                    <input type="submit" value="Continuar" class="btn btnEnviar" style="background-color: #0995AD; color: white;">
                </div>
            </form>
        </div>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    const botonEnviar = document.querySelector('.btnEnviar');

    botonEnviar.addEventListener('click', function (e) {
        e.preventDefault();

        const form = document.getElementById('forgotPasswordForm');
        const email = document.getElementById('email').value;

        if (!email) {
            Swal.fire({
                icon: 'warning',
                title: 'Por favor ingrese su correo electrónico',
                toast: true,
                position: "top-end",
                timer: 1500,
                showConfirmButton: false
            });
            return;
        }

        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 1200,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        Toast.fire({
            icon: "success",
            title: "Se envió un mensaje a su correo electrónico"
        }).then(() => {
            form.submit();
        });
    });
});
</script>


<!-- Main Section End -->
{% endblock %}
